<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/users/home">BattleShip</a>
         </div>
     <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/users/login">Login</a></li>
            <li role="presentation"><a href="/users/register">Register</a></li>
          </ul>
        </div>


        <div id="navbar" class="navbar-collapse collapse">
         
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>BattleShip</h1>
        <p>Inscrivez-vous dès maintenant pour profiter de ce superbe jeu.</p>
        <p><a class="btn btn-primary btn-lg" href="/users/register" role="button">Register &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Rules - Team</h2>
          <p>Découvrez les règles du jeu et l'équipe  </p>
          <p>Passionné par le domaine de l’informatique et le graphisme, j’apprécie particulièrement découvrir et maîtriser de nouvelles technologies  </p>
          <p><a class="btn btn-default" href="team" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Play!</h2>
          <p> Débuter dès à présent  </p>
          <p>La bataille navale, est un jeu dans lequel deux joueurs doivent placer des « navires » sur une grille tenue secrète et tenter de « toucher » les navires adverses.</p>
          
          <p><a class="btn btn-default" href="game" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Chat</h2>
          <p>Vous pouvez communiquez avec vos meilleurs amis!</p>
          <p>Un webchat est un système informatique accessible depuis un navigateur web qui permet à ses utilisateurs de communiquer entre eux en temps réel (chat)</p>
          <p><a class="btn btn-default" href="chat" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
    </div> <!-- /container -->