
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://dcrazed.com/html/space-agency-demo/css/owl.carousel.css">
    <link rel="stylesheet" href="https://dcrazed.com/html/space-agency-demo/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://dcrazed.com/html/space-agency-demo/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://dcrazed.com/html/space-agency-demo/css/style.css">
    <link rel="stylesheet" href="https://dcrazed.com/html/space-agency-demo/css/ionicons.min.css">
    <link rel="stylesheet" href="https://dcrazed.com/html/space-agency-demo/css/animate.css">
    <link rel="stylesheet" href="https://dcrazed.com/html/space-agency-demo/css/responsive.css">
    
    <!-- Js -->
    <script src="https://dcrazed.com/html/space-agency-demo/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="https://dcrazed.com/html/space-agency-demo/js/bootstrap.min.js"></script>
    <script src="https://dcrazed.com/html/space-agency-demo/js/owl.carousel.min.js"></script>
    <script src="https://dcrazed.com/html/space-agency-demo/js/plugins.js"></script>
    <script src="https://dcrazed.com/html/space-agency-demo/js/min/waypoints.min.js"></script>
    <script src="https://dcrazed.com/html/space-agency-demo/js/jquery.counterup.js"></script>


    <script src="js/main.js"></script>
  </head>
  
  <body>
    <!-- Slider Start -->
    <section id="slider">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="block">
              <h1 class="animated fadeInUp">BattleShip  <br> 3WEB Project</h1>
              <p class="animated fadeInUp">Je suis très heureux de vous présenter ce site internet </br> Vous pouvez retrouvez les règles du jeu</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Wrapper Start -->
    <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="block">
  			  <div class="section-title">
                <h1>About us</h1>
                <p>Projet 3Web - BattleShip</p>
              </div>	
              <p>Passionné par le domaine de l’informatique et le graphisme, nous apprécions particulièrement découvrir et maîtriser de nouvelles technologies. Organisé et motivé, nous sommes toujours prêt pour relever tous les challenges et réussir tous les objectifs qui nous seront fixés</p>
            </div>
            <a href="http://mohamed-lahfadi.fr/interest-center/"> Learn more</a>
          </div><!-- .col-md-7 close -->
          <div class="col-md-5 col-sm-12">
            <div class="block">
              <img src="http://mohamed-lahfadi.fr/wp-content/uploads/2017/04/600x400.jpg" alt="Img">
            </div>
          </div><!-- .col-md-5 close -->
        </div>
      </div>
    </section>


  <section id="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <h2>Règles du jeu</h2>
          <p>La bataille navale, appelée aussi touché-coulé, est un jeu de société dans lequel deux joueurs doivent placer des « navires » sur une grille tenue secrète et tenter de « toucher » les navires adverses. Le gagnant est celui qui parvient à couler tous les navires de l'adversaire avant que tous les siens ne le soient. On dit qu'un navire est coulé si chacune de ses cases a été touchées par un coup de l'adversaire.</p>
          <p>Le principe du jeu de bataille navale semble trouver son origine dans le jeu français L'Attaque lors de la Première Guerre mondiale. On a aussi trouvé des liens de parenté avec le jeu de E. I. Horseman en 1890 (Baslinda) et on dit que des officiers russes y auraient joué antérieurement à la première guerre.</p>
          <a href="http://localhost:3000/users/chat" class="btn btn-view-works">Jeu</a>
        </div>
      </div>
    </div>
  </section>
        
   
    <!-- Call to action Start -->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2>Projet qui utilise NodeJS</h2>
              <p>Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. Node.js' package ecosystem, npm, is the largest ecosystem of open source libraries in the world.</p>
              <a class="btn btn-default btn-call-to-action" href="https://nodejs.org/en/about/" >About NodeJS</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Content Start -->
   
    </body>
</html>